@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Scrollbar - Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #666;
}

/* Scrollbar - Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #666;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
}
