@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

@media (hover: hover) {
  a:hover {
    color: #666;
  }
}

/* Responsive font sizes */
.font-size-xxl-fluid {
  font-size: clamp(3rem, 12vw, 9rem);
}

.font-size-xl-fluid {
  font-size: clamp(2rem, 6vw, 4rem);
}

.font-size-lg-fluid {
  font-size: clamp(1rem, 4vw, 3rem);
}

.font-size-md-fixed {
  font-size: 1.5rem;
}

.font-size-reg-fixed {
  font-size: 1.25rem;
}

@media (orientation: landscape) and (max-height: 40rem) {
  .font-size-xxl-fluid {
    font-size: clamp(3rem, 12vh, 9rem);
  }

  .font-size-xl-fluid {
    font-size: clamp(2rem, 6vh, 3rem);
  }

  .font-size-lg-fluid {
    font-size: clamp(1rem, 4vh, 3rem);
  }
}

/* Scrollbar - Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333 #666;
}

/* Scrollbar - Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #666;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
}
